.header {
  position: fixed;
  top: 0;
  z-index: 5000;
  padding: 20px;
  background-color: #65da9e;
  width: 100vw;

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
