@import './variables.scss';
@import './mixins.scss';

.header {
  position: fixed;
  display: flex;
  top: 0;
  z-index: 5000;
  padding: 10px 30px;
  background-color: $white;
  width: -webkit-fill-available;
  width: -moz-available;

  &-icon {
    margin-right: 10px;
    > svg {
      @include size(56px);
      fill: $softLimeGreen;
    }
  }

  &-content {
    flex: 1;
    margin-right: 10px;
  }
}
