@import './variables.scss';
@import './mixins.scss';

.productDetails {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include screen($small) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &-img {
    margin-bottom: 24px;
    @include screen($small) {
      margin-bottom: 0;
    }
  }
}
