@import './mixins.scss';
@import './variables.scss';

.wrapper {
  margin: 120px 0 48px;
}

.l-content-wide {
  max-width: 1064px;
  padding: 0 16px;
  margin: 0 auto;
}

.l-flexCenterAround {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.l-flexAlignCenter {
  display: flex;
  align-items: center;
}

.l-flex-justifyEnd {
  display: flex;
  justify-content: flex-end;
}

.l-paddingY-24 {
  padding: 24px 0;
}
.l-paddingY-48 {
  padding: 48px 0;
}
.l-marginTop-24 {
  margin-top: 24px;
}
.l-marginBottom-16 {
  margin-bottom: 16px;
}

.l-marginBottom-24 {
  margin-bottom: 24px;
}

.l-marginBottom-36 {
  margin-bottom: 36px;
}

.color-dark-100 {
  color: $dark-100;
}
.color-dark-60 {
  color: $dark-60;
}

.color-violet {
  color: $strongViolet;
}

.font-m {
  @include font-m-regular;
}
