.l-paddingY-24 {
  padding: 24px;
}

.l-marginBottom-24 {
  margin-bottom: 24px;
}

.l-marginBottom-16 {
  margin-bottom: 16px;
}

.l-marginTop-200 {
  margin-top: 200px;
}

.l-content-wide {
  max-width: 1064px;
  padding: 0 16px;
  margin: 0 auto;
}

.l-flex-justifyEnd {
  display: flex;
  justify-content: flex-end;
}
